# Dependency directories
node_modules/
.nvmrc

# Build output
_site/
dist/

# Cache files
.cache/

# Environment files
.env
.env.local

# Logs
*.log

# IDE/Editor specific files
.vscode/
.idea/
*.swp
*.swo

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Others
vercel.json
netlify.toml
.nvmrc
.github/
.obsidian
_templates/