/* Defaults */
:root {
	--font-family: "Inter", system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/* Theme colors */
:root {
	/* Gray */
	--gray-25: #fdfdfd;
	--gray-50: #fafafa;
	--gray-100: #f5f5f5;
	--gray-200: #e9eaeb;
	--gray-300: #d5d7da;
	--gray-400: #a4a7ae;
	--gray-500: #717680;
	--gray-600: #535862;
	--gray-700: #414651;
	--gray-800: #252b37;
	--gray-900: #181d27;

	/* Blue */
	--blue-25: #f5faff;
	--blue-50: #fff8fe;
	--blue-100: #d1e9ff;
	--blue-200: #b2ddff;
	--blue-300: #84caff;
	--blue-400: #53b1fd;
	--blue-500: #2e90fa;
	--blue-600: #1570ef;
	--blue-700: #175cd3;
	--blue-800: #1849a9;
	--blue-900: #194185;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--gray-900);
}
html {
	overflow-y: scroll;
}
body {
	font-size: 1.125rem; /* 16px /16 */
	max-width: 48rem;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

h2,
h3,
h4,
h5,
h6 {
	margin-top: 3rem;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
	max-width: 100%;
	margin-top: 1rem;
}
img[width][height] {
	height: auto;
}
img[src$=".svg"] {
	width: 100%;
	height: auto;
	max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--blue-700);
}

main,
footer {
	padding: 1rem;
}

/* Main */
main {
	margin-top: 2rem;
}

footer p {
	font-size: 1rem;
}

main :first-child {
	margin-top: 0;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem 1rem;
	list-style: "";
	border-top: 1px solid var(--gray-200);
	padding: 1rem 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1rem 0;
}
table td,
table th {
	padding-right: 1rem;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: 0.5rem 0;
	line-height: 1.375rem; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

code[class*="language-"],
pre[class*="language-"] {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word; /* For Firefox */
	font-size: 1rem; /* 16px /16 */
}

/* Header */
header {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	font-size: 1.25rem; /* 20px /16 */
	margin-top: 2rem;
	border-bottom: 1px solid var(--gray-200);
}
.home-link {
	/* flex-grow: 1; */
	font-weight: 500;
	padding-right: 4rem;
}

.home-link:hover {
	text-decoration: none;
	color: var(--gray-900) !important;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	gap: 0.5rem 1rem;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	font-size: 1.125rem; /* 18px /16 */
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 1rem;
}
.postlist-date {
	font-size: 0.8125rem; /* 13px /16 */
	color: var(--gray-700);
	word-spacing: -0.5px;
}
.postlist-link {
	/* font-weight: 700; */
	flex-basis: 100%;
	padding-right: 0.5rem;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
	text-decoration: none;
}

.postlist-link:hover .postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	margin-top: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: lowercase;
	text-decoration: none;
	color: var(--gray-500) !important;
	/* font-style: italic; */
	margin-right: 0.5rem;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1rem;
}

/* Blockquote */
blockquote {
	font-style: italic; /* Optional: Italicize the text */
	color: var(--gray-700); /* Use a softer gray for the text */
	border-left: 4px solid var(--gray-300); /* Light left border */
	margin: 1rem 0; /* Space around the blockquote */
	padding: 0.5em 1em; /* Padding inside the blockquote */
	background-color: var(--gray-50); /* Soft background */
}
