---js
const eleventyNavigation = {
	key: "Home",
	parent: "_hidden",
	hidden: true
};

const numberOfLatestPostsToShow = 8;
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
{# <h2>Recent {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2> #}

<h2>Hello World!</h2>
<p>I'm Mac! Welcome to my little corner of the internet.</p>
<p>Here, I share my learning journey, tutorials, and guides to help others, along with projects I'm passionate about.</p>

<h2>Latest Posts</h2>
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the blog</a>.</p>
{% endif %}

{# List every content page in the project #}

{# <ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul> #}

