<h2>Tags</h2>

<ul style="list-style: none; padding: 0;">
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">#{{ tag }}</a></li>
{% endfor %}
</ul>
